* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 90%;
  margin: 0 auto;
}

/**Header**/

header {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.header-nav,
.header-nav-ul {
  display: flex;
  color: rgb(107, 107, 107);
  font-weight: bolder;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.header-nav-ul li a {
  color: rgb(107, 107, 107);
  text-decoration: none;
  padding: 0.8em 0.8em;
  cursor: pointer;
}

.header-nav-ul li:first-child a {
  color: #006699;
}

/**Main**/

main {
  margin: 1.5em auto;
}

input[type="text"] {
  border: none;
  border-right: 1px solid grey;
  margin: 12px;
  text-align: center;
  flex: 2;
}

select {
  border: none;
  padding: 15px;
  -webkit-appearance: none;
  text-align: center;
  flex: 1;
}

input:focus,
select {
  outline: none;
}

/**font-card**/

.font-card-main-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.font-card {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 15px;
  border-top: 1px solid black;
}

.font-card-info {
  display: inline-flex;
}

.plus-icon {
  border: none;
  background: none;
  color: #006699;
  font-size: 15px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px auto;
}

.font-preview {
  display: flex;
  padding-top: 2em;
  font-size: 2em;  
}

.customText {
  white-space: wrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  place-items: center;
}

@media screen and (max-width: 600px) {
  .header-nav{
    display: none;
  }

  header{
    text-align: center;
  }
}