* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #282828; */
}

.header-nav{
  display: none;
}

header{
  display: flex;
  justify-content: center;
  color: #282828;
}

body, .root{
  max-width: 90%;
  margin: 0 auto;
}

fieldset {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#dark{
  margin-right: 10px;
}

/**Header**/

.logo {
  color: #006699;
}

/**Main**/

main {
  margin: 1em auto;
}
#searchValue, #customText {
  border-bottom: 1px solid #006699;
}

select { width: px; text-align-last:center; }

form {
  text-align: center;
}

input:focus,
input[type="text"],
select {
  outline: none;
  border: none; 
  padding: 15px;
  -webkit-appearance: none;
  text-align: center;
  color: #696969;
}

#reset, #theme {
  border-radius: 2px;
  padding: 6px 60px;
  background-color: #a4d3eb;
  max-width: 40%;
  margin: 0 auto;
  font-weight: 800;
  font-size: medium;
}

#reset {
  margin-bottom: 5px;
}

/**font-card**/

.font-card-main-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.font-card {
  display: inline-block;
  position: relative;
  width: 300px;
  margin: 0 15px;
  border-top: 1px solid black;
  height: inherit;
}

.font-card-info {
  display: inline-flex;
}

.plus-icon {
  border: none;
  background: none;
  color: #006699;
  font-size: 15px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px auto;
}

.font-preview {
  display: flex;
  padding: 2em 0;
  font-size: 2em;
}

/*Form*/

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}

/* Footer */

.footer p{
  text-align: center;
  color: #006699;
}

/* dark/light mode */

.dark-theme {
  background-color: #333333;
  color: whitesmoke;
}

.light-theme {
  background-color: whitesmoke;
  color: #333333;
}

@media only screen and (min-width: 768px) {
  header {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
} 

.header-nav,
.header-nav-ul {
  display: flex;
  color: rgb(107, 107, 107);
  font-weight: bolder;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.header-nav-ul li a {
  color: rgb(107, 107, 107);
  text-decoration: none;
  padding: 0.8em 0.8em;
  cursor: pointer;
}

.header-nav-ul li:first-child a {
  color: #006699;
}

form{
  display: flex;
  flex-direction: row;
  border: none;
  padding-top: 6px;
}
input[type="text"]{
  border-right: 1px solid #006699;  
}

#searchValue, #customText {
  border-bottom: none;
}

#reset {
  margin-right: 5px;
  margin-bottom: 0;
}

}